<div class="link-list">
    <a href="mailto:beaver.logan.e@gmail.com">
        <div class="icon-mail"></div>
    </a>
    <a href="http://www.linkedin.com/in/loganebeaver">
        <div class="icon-linkedin"></div>
    </a>
    <a href="https://github.com/Logiant">
        <div class="icon-github"></div>
    </a>
    <a href="http://ludumdare.com/compo/author/loggiant/">
        <div class="icon-ld"></div>
    </a>
    <a href="https://www.dropbox.com/s/ymv7rqav8d92cu7/Beaver_Resume.pdff">
        <div class="icon-resume"></div>
    </a>
</div>