body {
    padding: 0px;
    margin: 0px;
    width: auto;
    background-color: whitesmoke;
    font-family: "Source Sans Pro", "Arial",  sans-serif;
}
a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:hover {
    color: #888;
}
/* HEADER CSS */
header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    background-color: rgba(64, 64, 64, 0.75);
    height: 75px;
    padding: auto;
    margin: 0px;
    font-family: "Carrois Gothic SC", sans-serif;
}
header div {
    text-align: center;
    height: inherit;
    align-content: center;
}
header ul {
    list-style-type: none;
    height: inherit;
    align-items: center;
    align-content: center;
    margin: 0px;
}
header ul li {
    vertical-align: middle;
    display: inline-block;
    width: auto:
    text-align: center;
    vertical-align: center;
    align-content: center;
    height: inherit;
    padding: 0px 20px;
}

header ul li a:link, header ul li a:visited, header ul li a:hover {
    color: #ddd;
}

header ul li a {
    /*Set font stuff*/
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #ddd;
    /*Flex box content*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Inherit size*/
    width: inherit;
    height: inherit;
    padding: inherit;
    /*transition*/
    transition: all 0.5s ease;
}
header ul li a:hover {
    background-color: rgba(64, 64, 64, 1.0);
    color: white;
}
/* END OF HEADER CSS */
/*Body Groups*/
#top, #projects, #timeline, #contact {
    text-align: center;
    align-content: center;
    height: auto;
    padding: 20px 0px;
    color: black;
}
#top {
    padding-top: 100px;
}
/* BEGIN ABOUT SECTION CSS*/
.left, .right {
    display: inline-block;
    float: none;
    padding: 10px;
    vertical-align: middle;
    text-align: justify;
}
.left {
    width: 45%;
}
.left h1, .right h1 {
    text-align: center;
}
.right {
    width: 45%;
    overflow: hidden;
    align-content: center;
}
.right img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    filter: none;
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
/* END ABOUT SECTION CSS*/

/* START PROJECTS SECTION CSS */
#pcontain {
    width: 90%;
    column-fill: balance;
    margin: 0px auto;
}

#pcontain span {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    color: transparent;
    padding: 5% 5%;
}

.project {
    display: inline-block;
    text-align: left;
    position: relative;
    margin: 10px;
    padding: 0px;
}

#pcontain span:hover {
    color: black;
    background-color: rgba(64, 64, 100, 0.4);
}

h3 {
    font-family: "Carrois Gothic SC", sans-serif;
}


