
@media screen and (min-width: 600px) {
    body {
        background-color: antiquewhite;
        padding: 0px;
        margin: 0px;
        /*Update list to be vertical instead of horizonta*/
    }
}

a {
    color: seagreen;
    text-decoration: none;
    font-weight: bold;
}

#about {
    margin-top: 25px;
}


#shaderBox {
    background-color: #D93600;
    padding: 0px;
    width: 400px; height: 300px;
    padding: 5px;
    margin: auto;
}


.project {
    background-color: black;
    width: 600px;
    height: 400px;
    margin: auto;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project img {
    margin-left: 100px;
}

h2 {
    text-align: center;
}

#cranelink {
    color:white;
    text-decoration: none;
    display: block;
    background-color: darkslategray;
    height: 384px;
    width: 504px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -107px;
    margin-left: -2px;
    position: relative;
    top: -300px;
    opacity: 0.0;
    
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
    
    transition: opacity 1s;
}

h1 {
    text-align: center;
}

#cranelink:hover {
    opacity: 0.85;
}

#game {
    width: 400px;
    margin: 0px auto;
    padding-top: 15px; padding-bottom: 15px;
    text-align: center;
    align-content: center;
    height: 490px;
}

pre {
    color: black;
    white-space: pre-wrap;
    text-align: left;
    margin: auto;
    width: 500px;
    align-content: center;
    text-overflow: clip;
}



